spring:
  data:
    mongodb:
      uri: mongodb+srv://java:java@tths.np7ff7c.mongodb.net/?retryWrites=true&w=majority
      database: StudentReward

  app:
    jwtCookieName: tths
    jwtSecret: tths_private
    jwtExpirationMs: 86400000

gui:
  uri: http://localhost:4200, http://localhost:4201

logging:
  rootCategory: INFO, consoleAppender, fileAppender